<div class="Nav">
    <div class="container1">
    <img src='./assets/images/Logo Rudo amarilla1.svg' alt="">
        <h2>Rudo Academy Test</h2>
    <div></div>
    </div>

    <div class="container2">
    
    <img src="./assets/images/Vector.svg" alt="">
        <input type="text" 
        #box 
        (keyup)="getInputValue(box.value)"
        placeholder="{{'search' | translate }}"  >
        <img id="loopa" src="./assets/images/Loopa.svg" alt="">
        <div class="en-wrapper" [style.opacity]="langSelected === 'en' ? '50%' : '100%'" >
            <img (click)="switchLanguage('en')" src="./assets/images/EN.svg" alt="" >
        </div>
        <div class="es-wrapper" [style.opacity]="langSelected === 'es' ? '50%' : '100%'">
        <img (click)="switchLanguage('es')" src="./assets/images/ES.svg" alt="">
    </div>
    </div>
</div>



