p, h2  {
    margin-left: 20px;
    margin-bottom: 0;
    margin-top: 10px;
    font-size: 20px;
}

.dialogContainber{
    background-color: #353a47;
    border-radius: 25px 25px 0 0 ;
    height: 450px;
    width: 650px;
    display: flex;
    justify-content: center; 
}

img {
    height: 100%;
   
    
}

.infoContainer{
    height: 100px;
}

.mat-mdc-dialog-surface{
    background: transparent !important;
}

.mat-mdc-dialog-container .mdc-dialog__surface {
    background: transparent !important;
    border-radius: 25px;
}


@media only screen and (max-width: 1000px) {
    .dialogContainber{
        background-color: #353a47;
        border-radius: 25px 25px 0 0 ;
        height: 350px;
        width: 350px;
        display: flex;
        justify-content: center; 
        
    }
    }